@model MeetMeUp_Updated.Models.ApplicationUser

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1 class="m-4">My profile</h1>
    <hr />

    <div class="heading">
        <img src=@Model.UserImg class="rounded-circle mr-3" alt="User Image" style="width:150px;height:150px" />
        <div class="heading-text">
            <h2>@Model.UserName</h2>
            @Html.ActionLink("Edit picture", "ChangeImage", "Profile")
        </div>
    </div>

    <div class="group-details">
        <h3>Email:</h3>
        <span>@Model.Email</span>
    </div>

    <div class="group-details">
        <h3>Username:</h3>
        <span>@Model.UserName</span>
    </div>

    @Html.ActionLink("Change password", "ChangePassword", "Manage", new { @class = "btn btn-primary m-4" })
</div>
