@model IEnumerable<MeetMeUp_Updated.Models.Meeting>
@{
    ViewBag.Title = "Meetings";
}

<div class="container-fluid">
    <h1 class="m-4">My meetings</h1>
    <hr />

    @using (Html.BeginForm("Meetings", "Meeting", FormMethod.Get))
    {
    <div class="group mb-3">
        @Html.TextBox("query", null, new { @class = "form-control mr-sm-2 w-25 d-inline" })
        <input type="submit" class="btn btn-primary btn-rounded btn-md my-0 d-inline" value="Search" />
    </div>
        
   }

    <div class="list-group">

        @foreach (var meeting in Model)
        {
            <a href="/Meeting/Details/@meeting.MeetingID" class="list-group-item list-group-item-action">
                <div class="group">
                    <img class="rounded-circle mr-3" src=@meeting.Image
                         alt="meetingImage" style="width:100px;height:100px">
                    <h4 class="ml-4 mr-4">@meeting.Title</h4>
                    <span>@meeting.Date.ToString("MM/dd/yyyy") at @meeting.Time.ToString("h:mm tt")</span>
                </div>
            </a>
        }
    </div>
    @Html.ActionLink("Create new meeting", "Create", "Meeting", new { @class = "btn btn-primary btn-lg m-4" })
</div>

