@model MeetMeUp_Updated.Models.Group

<div>
    <h1 class="m-4">Group Details</h1>
    <hr />

    <div class="heading">
        <img src=@Model.GroupImage class="rounded-circle mr-3" alt="Group Image" style="width:150px;height:150px" />
        <div class="heading-text">
            <h2>@Model.GroupName</h2>
            @Html.ActionLink("Edit picture", "ChangeImage", "Group", new { groupID = Model.GroupID }, null)
        </div>
    </div>

    <div class="group-details">
        <h3>Group Members:</h3>
        <ul class="group-members">
            @foreach (var member in Model.Members)
            {
                <li class="group group-details-members-item">
                    <img class="rounded-circle mr-3" src=@member.UserImg
                         alt="Group Member Image" style="width:30px;height:30px" />
                    <span>@member.UserName</span>
                </li>
            }
        </ul>
    </div>

    <div class="group-details">
        <h3>Group Meetings:</h3>
        <div class="list-group">

            @foreach (var meeting in Model.Meetings)
            {
                <a href="/Meeting/Details/@meeting.MeetingID" class="list-group-item list-group-item-action">
                    <div class="group">
                        <img class="rounded-circle mr-3" src=@meeting.Image
                             alt="meetingImage" style="width:100px;height:100px">
                        <h4 class="ml-4 mr-4">@meeting.Title</h4>
                        <span>@meeting.Date.ToString("MM/dd/yyyy") at @meeting.Time.ToString("h:mm tt")</span>
                    </div>
                </a>
            }
        </div>
    </div>
    @Html.ActionLink("Create new meeting", "Create", "Meeting", new { id = Model.GroupID }, new { @class = "btn btn-primary btn-lg m-4" })
</div>

    
